{{ define "main" }}
    {{ $paginator := .Paginate .Data.Pages }}
    
    <main class="podcasts">
        <h1>{{ .Title }}</h1>

        {{ if .Content }}
            <div class="content">{{ .Content }}</div>
        {{ end }}

        {{ range $paginator.Pages.GroupByDate "2006" }}
            <div class="podcasts-group">
                <div class="podcast-year">{{ .Key }}</div>

                <ul class="podcasts-list">
                    {{ range .Pages }}
                        <li class="podcast-item">
                            <a href="{{.Permalink}}">
                                <span class="podcast-title">{{.Title}}</span>
                                <span class="podcast-day">
                                    {{ if .Site.Params.dateformShort }}
                                        {{ .Date.Format .Site.Params.dateformShort }}
                                    {{ else }}
                                        {{ .Date.Format "Jan 2"}}
                                    {{ end }}
                                </span>
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </div>
        {{ end }}
    {{ partial "pagination.html" . }}
    </main>
{{ end }}
